.header {
  font-weight: bold;

  &.level_1 {
    font-size: 2.2rem;
  }
  &.level_2 {
    font-size: 1.8rem;
  }

  &.level_3 {
    font-size: 1.4rem;
  }

  &.level_4 {
    font-size: 1.2rem;
  }

  &.level_5 {
    font-size: 1rem;
  }

  &.level_6 {
    font-size: 0.8rem;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.blockquote {
  border-left: 3px solid gray;
  margin-left: 5px;
}

.strike-through {
  text-decoration: line-through;
}

.list {
  &.ordered {
  }
  &.common {
    position: relative;
    visibility: hidden;

    &::after {
      content: "";
      position: absolute;
      visibility: visible;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: black;
    }
  }
}

.link {
  color: rgb(77, 77, 236);
  text-decoration: none;
}
